<!--Titulo da Página-->
<div class="col-sm-12 text-center pb-3" id="titulo">
    <h3>PROMOTER | MENU</h3>
</div>
<!--FIM Titulo da Página-->

<!--Menu-->
<div class="col-sm-12">
    <div class="col-6 float-left d-flex justify-content-center">
        <a href="/meus-leads" class="btn btn-claro-VCI">Meus Lead</a>
    </div>
    <div class="col-6 float-left d-flex justify-content-center">
        <a href="/promoter-cadastro" class="btn btn-claro-VCI">Novo Lead</a>
    </div>
</div>
<div class="col-sm-6">

</div>
<!--FIM menu-->