<!--Titulo da Página-->
<div class="col-sm-12 text-center pb-3" id="titulo">
    <h3>PROMOTER | LEADS</h3>
</div>
<!--FIM Titulo da Página-->

<!--Menu-->
<div class="col-sm-12">
    <table class="table table-sm">
        <thead class="text-white">
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Reenviar</th>
            </tr>
        </thead>
        <tbody class="text-white">
            
        </tbody>
    </table>
</div>
<!--FIM menu-->