<!--Titulo da Página-->
<div class="col-sm-12 text-center pb-3" id="titulo">
    <h3>PROMOTER | LEADS</h3>
</div>
<!--FIM Titulo da Página-->

<!--Menu-->
<div class="col-sm-12 text-white mb-3">
    <div class="col-12">
        <label for="">Filtro</label>
    </div>

    <form>

        <div class="form-group col-12">
            <select class="form-control" id="ordem">
                <option value="">Ordem</option>
                <option value="ASC">Crescente por Data</option>
                <option value="DESC">Decrescente por Data</option>
            </select>
        </div>

        <div class="col-12">
            <button class="btn btn-claro-VCI text-white btn-block" id="filtrar">Filtrar</button>
        </div>

    </form>
</div>
<!--FIM Menu-->

<!--Lista-->
<div class="col-sm-12" id="caixa">
</div>
<!--FIM Lista-->