<div class="jumbotron">
    <div class="container text-center">
        <h1 class="">Parabéns!</h1>
        <p class="lead">Você poderá viver experiências incríveis!</p>
        <p class="lead">Aguarde nosso contato.</p>
    </div>
</div>