<!--Titulo da Página-->
<div class="col-sm-12 text-center pb-3" id="titulo">
    <h3>PROMOTER | CADASTRO</h3>
</div>
<!--FIM Titulo da Página-->

<!--Formulário Cadastro Lead-->
<div class="col-sm">
    <form>
        <div class="form-group col-sm">
            <input type="text" class="form-control" placeholder="Nome do cliente" id="nome">
        </div>
        <div class="form-group col-sm">
            <input type="text" class="form-control" placeholder="Número de celular" id="celular">
        </div>
        <div class="form-group col-sm">
            <select name="" id="decisao" class="form-control">
                <option value="enviar">Enviar SMS</option>
                <option value="preencher">Preencher</option>
            </select>
        </div>
        <div class="form-group col-sm">
            <button class="btn btn-block btn-claro-VCI" id="enviar_SMS">Enviar</button>
        </div>
    </form>
</div>
<!--FIM Formulário Cadastro Lead-->