<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    .carregado {
        height: 100%;
    }

    .campo_voucher {
        text-align: center;
        display: block;
        width: 12%;
        float: left;
        height: 45px;
        font-size: 2rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
</style>

<div class="col-12" id="caixa">
    <div class="col-12 d-flex justify-content-between mb-5">
        <input type="number" class="campo_voucher mx-1" value="" id="primeiro" autofocus>
        <input type="number" class="campo_voucher mx-1" value="">
        <input type="number" class="campo_voucher mx-1" value="">
        <input type="text"   class="campo_voucher mx-1" value="" disabled>
        <input type="number" class="campo_voucher mx-1" value="">
        <input type="number" class="campo_voucher mx-1" value="">
        <input type="number" class="campo_voucher mx-1" value="">
    </div>

    <div class="col-12">
        <button type="button" class="btn btn-claro-VCI btn-block" id="confirmar">Confirmar</button>
    </div>

</div>